
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(180,140,35);
    justify-content: center;
    display: flex;
}
.menu{
    margin-top: 50px;
    width: 600px;
    height:600px;
    background-color:#FFE5E6;
    border-radius: 20px;
    border: 2px solid #34e7e4;
    text-transform: uppercase;
}

.menu__heading{
     font-size: 60px;
     text-align: center;
     margin: 20px;
      color:#2ecc71;
}
.menu__heading--img{
    width: 22%;
    margin-top: 8px;
}
.menu__body{
 display: flex;
justify-content: center;
}
.product{
  width: 500px;
  border-style: double;
  border-radius: 10px;
  margin-top: -35px;
}

.product__item{
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.product__item p,
.product__pice{
    font-size: 16px;
    text-transform:uppercase;
    padding: 7px 0;

}
.product__item p{
color: #ff7675;
}
.product__pice{
    color: #e67e22;
}
.menu__img{
    margin-top: 40px;
    margin-left: 54px;
}
.menu__img--product{
    width: 20%;
    border-radius: 50%;
    border: 2px solid #ffcccc;
    margin: 0 4px;
}
